
apiVersion: v1
kind: Service
metadata:
  name: java-microservice
  namespace: cart-app
  labels:
    app: java-microservice
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: java-microservice
